:root {
  --tomato: hsl(4, 100%, 67%);
  --tomato-alpha: hsla(4, 100%, 67%, 0.1);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: var(--charcoal-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  color: var(--dark-slate-grey);
  background-color: var(--white);
}

.sign-up {
  width: 37.5rem;
}

.sign-up__information {
  padding: 2rem;
  font-size: 1.5rem;
}

.sign-up__information h2 {
  font-size: 4rem;
}

.sign-up__information label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.sign-up__information label > span:nth-child(2) {
  color: var(--tomato);
}

.sign-up__benefits {
  margin: 5rem;
  margin-inline: auto;
  padding: 0;
  list-style: none;
}

.sign-up__benefits li {
  display: flex;
  align-items: flex-start;
  column-gap: 1.5rem;
  margin: 1rem;
  margin-inline: auto;
}

input {
  width: 100%;
  margin: 1rem;
  margin-inline: auto;
  padding: 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type="email"] {
  border: 1px solid var(--grey);
}

input[type="button"] {
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-slate-grey);
}

.success-message {
  position: relative;
  width: 37.5rem;
  height: 78.4rem;
  padding: 22rem 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.success-message h2 {
  font-size: 4rem;
}

.success-message input[type="button"] {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4rem);
  font-size: 1.5rem;
}

.success-message.none,
.sign-up.none {
  display: none;
}

input[type="button"]:is(:hover) {
  background: linear-gradient(
    270deg,
    rgba(255, 103, 62, 1) 0%,
    rgba(255, 84, 118, 1) 100%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.error input[type="email"] {
  color: var(--tomato);
  background-color: var(--tomato-alpha);
  border: 1px solid var(--tomato);
}

@media screen and (min-width: 1024px) {
  .main {
    border-radius: 2.5rem;
  }

  .sign-up {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 2rem;
    width: auto;
    height: auto;
    padding: 2rem;
  }

  .success-message {
    height: auto;
    padding: 2rem;
  }

  .success-message input[type="button"] {
    position: static;
    transform: none;
    width: 100%;
  }
}
